.navbar {
  background-color: #333;
}

.navbar a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: #f1c40f;
}

.nav-item.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 20px;
}

.nav-item.btn a {
  color: white;
  font-size: 14px;
  padding: 10px 20px;
}

.nav-item.btn a:hover {
  background-color: #f1c40f;
  color: #333;
}

@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
  }

  .navbar-toggler {
    display: none;
  }
}
